<div class="author">

    <h1 class="author_heading">Hi, I am Rootkid.</h1>
    <p class="author_body">Just a boy who's interested in cybersecurity</p>
</div>

<img src="/img/hackerman.jpg" alt="" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles_heading">Lastest Posts</h2>

    <ul class="article-ul">


        <% if (data.length===0) { %>
            <h3 id="no-post">No Post Yet!</h3>
            <% } else { %>
                <% data.forEach(post=> { %>
                    <li>
                        <a href="/post/<%= post._id %>">
                            <span>
                                <%= post.title %>
                            </span>
                            <span class="article-list_date">
                                <%= post.createdAt.toDateString() %>
                            </span>
                        </a>
                    </li>
                    <% }) %>
                        <% } %>



    </ul>

    <% if (nextPage !==null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
        <% } %>


</section>